<html lang="en">

<head>

</head>

<body>
    <div>
        {{>_navbar_main}}
    </div>
    <div id="main">
        <div id='profileDiv'>
            <div id="User">
                <div>
                    <img id="Img" src="" alt="" />
                    <p  id="Name">Sean Williamson</p>
                    <p  id="Description">10 years of experience working in tech</p>
                </div>
                
                <div id="profileInfo">
                    
                        <div class="list">
                            <li class="">Posts</li>
                        </div>
                    
                        <div class="list">
                            <li class="">Messages</li>
                        </div>
                    
                        <div class="list">
                            <li class="">Likes</li>
                        </div>
                </div>
                <a class="btn" href="">Edit Profile</a>
            </div>
        </div>
    </div>
    
        <div id="">
            <div>
                <label id='latestDiscussion'>All Posts</label>
            </div>
            <div>
                {{>post}}
            </div>

    </div>

</body>

</html>