<html lang="en">

<head>

</head>

<body>
    <div>
      {{>_navbar_main}}
    </div>
    <div class='form'>
        <form id='' method='POST' action=''>
            <input type='text' class='' name='name' value='' required />
            <input type='url' class='' name='profile_url' placeholder='imageurl' value='' required />
            <textarea class='' name='statement_of_intent' placeholder='a few lines about yourself..' rows='9'cols='45' required></textarea>
            <input type='text' name='country' class='' placeholder='country' value = '' required />
            <input type='date' name='dob' value = '' class='' required />
            <input type='submit' class='' id='' value='Save Changes' />
        </form>
    </div>
</body>
</html>