<html lang="en">

<head>

</head>

<body>
    <div>
        {{>_navbar_main}}
    </div>
    <div class=''>
        <div class="user" id="">
            <a href="">
                <div class="" id="">
                    <div class="image"><img class="img" src="" alt=""></div>
                    <div class="Info">
                        <div class="name">
                            <p class="Name">Darren James</p>
                        </div>
                        <div class="message-time">
                            Sep 18
                        </div>
                    </div>
                </div>
            </a>
        </div>
     
        <div class="">
            <div class="">
                <div class=""><span>Sep 4</span></div>
           
                <div class="message" id="">
                    <div class="image"><img class="" src="" alt=""></div>
                    <div class="Info">
                        <div class='messageUserTimeDiv'>
                            <div class="name"><p>Kevin Huson </p></div>
                            <div class="time">9:03 AM</div>
                        </div>
                        <div class="content">
                            <p class=''>You have agreat zend skill</p>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class=''>
                <form id='Form' method='POST' action=''>
                    <textarea id='TextArea' class='' name=''
                        placeholder='Write a message...' rows='5' cols='100' required></textarea>
                    <input type='submit' class='' id='btn' value='Send' />
                    <input type='hidden' name='' value="" />
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>