<!DOCTYPE html>
<html lang="en">

<head>
  {{> _head }}
</head>

<body>
  <main class="welcome-container">
    <!-- Heading/Image Section -->
    <section class="header-image-container">
      <div class="header">
        {{> _header_title }}
        <div class="blob"></div>
        <img src="img/login_image.png" class="header__image"
          alt="female pointing at textbox" />
      </div>
    </section>
    <!-- ./Heading/Image Section -->

    <!-- Forms Section -->
    <section class="login-container">
      <!-- Login Section -->
      {{> _login_form }}
      <!-- ./Login Section -->

      <h2 class="login-container__welcome">
        Join the world's largest community for coders, where developers learn,
        share, and
        refactor.
        <span id="blink">|</span>
      </h2>

      <!-- Signup Section -->
      {{> _signup_form }}
      <!-- ./Signup Section -->
    </section>
    <!-- ./Forms Section -->
  </main>
</body>

</html>
