<!DOCTYPE html>
<html lang="en">
    <head></head>
<body>
<div class="body">
    <div>
        {{>_navbar_main}}
    </div>

    <div class="main">
        <img id="" src="" alt="" />
        <div class=''>
            <form id='' method='POST' action=''>
                <input type='text' class='' name='subject' placeholder='subject' required />
                <textarea class='' name='message' placeholder='message details' rows='9' cols='45' required></textarea>
                <input type='submit' class='' id='' value='Message' />
            </form>
        </div>
    </div>
</div>
</body>
</html>