<div class="dicussion__reply-container rowToggle">
  <form id="" class="comment__reply" method="POST">
    <textarea class="infobox reply" name="description"
      placeholder="add your reply..."></textarea>

    <button class="login-container__bttn reply" type="submit">Comment</button>
  </form>
</div>
