<div class="discussion__container">

  <h1 class="question-section__heading--disc">Latest Discussions</h1>
  <ul class="column">
    <li class="row">
      <a href="" class="">
        <img class="profile-section__img"
          src="https://randomuser.me/api/portraits/men/32.jpg"
          alt="user photo" />
      </a>
      <h2 class="discussion__info">
        <span class="discussion__heading">settings deleted</span>
        <span class="discussion__subject"><a href="">node js</a></span>
        <span class="discussion__description">
          After i logged in to my node app, i saw that the setting were deleted
          after i restarted my
          sever, i had installed nodemon
        </span>
      </h2>
      <p class="discussion__date">31 March 2020</p>
      <p class="discussion__replies"><a href="" id="" class="replies--link">5
          replies</a></p>
    </li>

    <button class="login-container__bttn next" type="submit">next →</button>
  </ul>

</div>
