<div class="discussion__container">
  <h1 class="question-section__heading--disc">Latest Discussions</h1>
  <ul class="column">
    {{#each data}}
        {{> _postings }}
      {{/each}}

    <div class="pagination--bttn">
      <button class="login-container__bttn next" type="submit">
        ← previous
      </button>
      <button class="login-container__bttn next" type="submit">next →</button>
    </div>
  </ul>
</div>
