<hr class="hr__inbox">
<h3 class="discussion__date inboxMsg">31 March 2020</h3>
<li class="row inboxMsg">
  <a href="" class="">
    <img
      class="profile-section__img inboxMsg"
      src="https://randomuser.me/api/portraits/men/91.jpg"
      alt="user photo"
    />
  </a>
  <h2 class="discussion__info inbox">
    <span class="discussion__heading username">Ricky Robinson</span>
    <span class="discussion__description inboxMsg">Damn girl, Do you have snapchat?</span>
  </h2>
</li>
