<li class="row">
  <a href="" class="">
    <img class="profile-section__img inbox"
      src="https://randomuser.me/api/portraits/women/60.jpg" alt="user photo" />
  </a>
  <h2 class="discussion__info inbox">
    <span class="discussion__heading username">Chun Li</span>
    <span class="discussion__description inbox">settings deleted</span>
    <span class="discussion__date inbox">31 March 2020</span>
  </h2>
</li>
