<form class="login-container__form" method="GET">
  <input type="email" name="email" placeholder="email" required />
  <input type="password" name="password" placeholder="password" required />
  <button class="login-container__bttn" type="submit">login</button>
</form>
