<!-- header_login -->
<section class="header-image-container home">
  <div class="header home">
    <a href='/home'>
    <div class="header__text-box">
      <h1 class="heading-primary home">
        <span class="heading-primary--main">k</span><span
          class="heading-primary--sub home">B</span>
      </h1>
    </div>
    </a>
  </div>
</section>
<!-- ./end-header_login -->

<!-- forms -->
<section class="login-container home">
  <input class="login-container__home--search" type="text"
    placeholder="ðŸ” Search" name="search" />
</section>

<!-- ./end-forms -->

<section class="logout-container">
    <form method="GET" action="/">
          <!-- logout button -->
          <button class="login-container__bttn logout" type="submit">logout ðŸ‘‹</button>
        <!-- ./end-logout button -->
    </form>
</section>
