<img class="profile-section__img"
  src=https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png
  alt="user profile picture" />
<h2 class="profile-section__heading">
  <span class="profile-section__heading--main">
      <p>{{data?.firstname}} {{data?.lastname}}</p>
          </span><span
    class="profile-section__heading--sub">{{data?.description}}</span>
</h2>
