<form id="" class="login-container__register home" method="POST" action="/postings">
  <input class="register__flexstretch question" type="text" name="subject"
    placeholder="subject" required />

  <textarea class="register__flexstretch infobox" name="content"
    placeholder="explain in detail..." required></textarea>

  <div class="question-section__select">
    <select name="topicid">
      <option selected disabled>topic</option>
      <option value="php">php</option>
      <option value="javascript">javascript</option>
      <option value="node.js">node js</option>
      <option value="java">java</option>
      <option value="mySQL">mySQL</option>
    </select>
  </div>

  <button class="login-container__bttn post" type="submit">post ☝️</button>
  <!-- Search By Topic -->
</form>
{{> _topic }}
