<form id="completeRegistration" class="login-container__register registration"
  method="POST" action="/register">
  <input class="register__flexstretch" type="url" name="url"
    placeholder="image url" />

  <textarea class="register__flexstretch infobox" name="description"
    placeholder="a few lines about yourself.."></textarea>

  <input class="register__flexstretch" type="text" name="country"
    placeholder="country" />

  <input class="register__flexstretch" type="text" placeholder="date of birth"
    onfocus="(this.type='date')" onblur="(this.type='text')" required />

  <button type="submit" class="login-container__bttn signup">complete
    registration</button>
</form>
