<li class="row replies rowToggle hoverable">
  <a href="" class="">
    <img class="profile-section__img replies"
      src="{{respond.url}}" alt="user photo" />
  </a>
  <h2 class="discussion__info">
    <span class="discussion__description">
      {{respond.content}}
    </span>
  </h2>
</li>
