<li class="row replies rowToggle hoverable">
  <a href="" class="">
    <img class="profile-section__img replies"
      src="https://randomuser.me/api/portraits/men/17.jpg" alt="user photo" />
  </a>
  <h2 class="discussion__info">
    <span class="discussion__description">
      This usually happens on a mac os. Try deleting your ini file, seemed to
      work for me.
    </span>
  </h2>
</li>
