<div class="topic-section__container">
  <h2 class="profile-section__heading--sub searchTopic">Search By Topic</h2>
  <div class="question-section__select">
    <select>
      <option selected disabled>---</option>
      <option value="1">php</option>
      <option value="2">javascript</option>
      <option value="3">node js</option>
      <option value="4">java</option>
      <option value="5">mySQL</option>
    </select>
  </div>
  <button class="login-container__bttn go" type="submit">go →</button>
</div>
