<!-- header_login -->
<section class="header-image-container home">
  <div class="header home">
    {{> _header_logo }}
  </div>
</section>
<!-- ./end-header_login -->

<!-- forms -->
{{> _search }}
<!-- ./end-forms -->

{{> _logout }}
