<div class="">
                <div class="">
                    <div class="" id="">
                        <a href=""><img src="" id="Img"></a>
                    </div>
                    <div class="">
                        <div>
                            <div class=''>
                                <h5 class="title">SQL statement issue</h5>
                                <p  class='tag'>sql</p>
                            </div>
                            <p class="">my workbench drive usually stop, if i am working on windows, any suggestion？</p>
                            <a class=""><small class="">11 sep 2019</small></a>
                            <span id='replybtn' class="" onclick=""><small class="">3 replies</small></span>
                        </div>
                        {{>reply}}
                        <form method='POST' action=''>
                        <div id=''>
                            <textarea class="" placeholder="add your reply....." rows='3' cols='36'
                                name='' required></textarea>
                            <input type='hidden' name='' value='' />
                        </div>
                        <div>
                            <input type="submit" id='replybtn' value='Comment' />
                        </div>
                        </form>
             
                </div>
            </div>
</div>