/* COLOURS */
/*
#4ecca3
#009975
#9df3c4
*/
/* ./COLOURS */

/* VARIABLES */

:root {
  /* Text Variables */
  --headingText: "Space Mono", monospace;
  --bodyText: "Muli", sans-serif;
  --bgLight: #eee;
  --primaryWhite: #fff;
  --primaryBlack: #111;
  --primaryGreen: #4ecca3;
  --greenDark: hsl(165, 45%, 48%);
  --greenLight: #9df3c4;
}

/* ./VARIABLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--bodyText);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--primaryBlack);
  padding: 3rem;
  background-color: var(--bgLight);
}

button {
  border: none;
}

button:focus {
  outline: none;
  transform: scale(1.06);
}

.welcome-container {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  height: 95vh;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--headingText);
  font-size: 3rem;
  align-items: center;
}

.heading-primary {
  text-transform: lowercase;
  animation: animateHeading 2.2s linear infinite;
  backface-visibility: hidden;
}

.heading-primary--sub {
  text-transform: uppercase;
  color: var(--primaryGreen);
}

.header__image {
  max-width: 50vw;
}

.login-container {
  text-align: center;
  padding: 1.2rem;
  width: 40vw;
  height: 50vh;
}

.login-container input {
  min-width: 12vw;
  min-height: 2.4rem;
  display: inline-block;
  margin: .4rem;
  padding-left: 1rem;
}

.login-container input::placeholder {
  text-transform: uppercase;
}

.login-container__bttn {
  margin: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  width: 7rem;
  height: 3rem;
  text-align: center;
  color: var(--primaryWhite);
  background-color: var(--primaryGreen);
  border-radius: .6rem;
}

.login-container__bttn:hover {
  background-color: var(--greenDark);
  box-shadow: 0 0 1.2rem var(--greenLight);
  transition: .1s ease-out;
  backface-visibility: hidden;
  border: none;
  text-shadow: rgba(17, 17, 17, .25) .1rem .3rem .25rem;
}

.login-container__bttn.signup {
  width: 24rem;
  flex: 0 1 100%;
}

.login-container__welcome {
  margin: 5rem 0;
  font-size: 3rem;
}

#blink {
  animation: blinkingText 1.2s infinite;
  display: inline-block;
  transform: scale(1.5, 1.2) translateY(-5%);
}

.login-container__register {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.login-container__register input {
  margin: 1rem;
}

.register__firstname {
  flex: 1 0 25%;
}

.register__lastname {
  flex: 1 0 25%;
}

.register__flexstretch {
  flex: 0 1 100%;
}

.login-container input:focus {
  outline: none;
  border: .2rem solid var(--primaryGreen);
  box-shadow: 0 0 .4rem var(--primaryGreen);
  font-size: 1.2rem;
}

/* ANIMATIONS */

/* Heading Animation */
@keyframes animateHeading {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(14%);
  }
}
/* ./Heading Animation */

/* BLINK ANIMATION */
@keyframes blinkingText {

  0% {
    color: var(--primaryGreen);
  }

  49% {
    color: var(--primaryGreen);
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: var(--primaryGreen);
  }
}

/* ./BLINK ANIMATION */

/* ./ANIMATIONS */

/* MOBILE DEVICES */
@media (max-width: 1024px) {

  .header__image {
    max-width: 100%;
  }

  .login-container {
    width: 100vw;
  }

  .login-container input:focus {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {

  .header {
    font-size: 2rem;
  }

  .login-container {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .login-container input {
    width: 40vw;
    margin: .8rem;
    display: block;
  }
}
